<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a (click)="filter('')">
                <img src="assets/img/1.png" alt="">
                <h6>Todos los Productos</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('electronics')">
                <img src="assets/img/3.png" alt="">
                <h6>Frutas</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('fashion')">
                <img src="assets/img/4.png" alt="">
                <h6>Verdura</h6>
            </a>
        </div>
        <div class="item">
            <a (click)="filter('jewelery')">
                <img style="width: 62px; margin-top: 5px;" src="assets/img/8.jpg" alt="">
                <h6>Legumbres</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of filterCategory | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p><strong>Precio:</strong> ${{item.price}}</p>
                <p><strong>Cantidad:</strong> <input id="cantidad"type="number" step="0.5" max="" value="0" name="quantity" class="quantity-field"></p>
                  
                <button class="btn btn-success" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>